# Virtual Environment and System generated
venv
.idea

# Env vars stored in a .env file
.env

# File generated when an EC2 instance in spunup
*.json

# Cert file for accessing EC2
*.pem

# Sphinx
_build

# Test script
test.py

# Build stuff
*.egg-info
dist
